main .container .hero-block {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
    justify-items: center;
    padding: 8px;
}

main .container .hero-block img.hero-img {
    grid-row: 1 / 4;
    grid-column: 1;
    width: calc(100% + 16px);
    margin: -8px;
}

main .container .hero-block h1 {
    background-color: var(--ink-black);
    padding: 8px;
    border-radius: 5px;
    opacity: .9;
    grid-row: 1;
    grid-column: 1;
    text-align: center;
}

main .container .hero-block a.hero-get-ready-btn {
    grid-column: 1;
    grid-row: 3;
    text-decoration: none;
    background-color: var(--emerald);
    color: var(--ink-black);
    padding: 8px;
    font-size: 1.15rem;
    font-weight: bold;
    border-radius: 5px;
    opacity: .9;
}

main .container .step-block {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 8px;
}

main .container .step-block h2 {
    color: var(--ink-black);
}

main .container .step-block img {
    width: 100%;
    min-height: 240px;
    height: 100%;
}

main .container hr {
    margin: 8px;
}

main .container>:last-child {
    padding: 0 8px;
}

@media screen and (min-width:768px) {
    main .container .step-block {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto auto;
        column-gap: 8px;
    }

    main .container .step-block:nth-of-type(3) {
        grid-template-columns: 1fr 2fr;
    }

    main .container .step-block h2 {
        grid-column: 1 / 3;
        grid-row: 1;
    }
}