ul.color-scheme li:first-of-type {
    color: var(--ink-black);
    background-color: var(--snow);
}

ul.color-scheme li:nth-of-type(2) {
    color: var(--snow);
}

ul.color-scheme li:nth-of-type(3) {
    color: var(--emerald);
}

ul.color-scheme li:last-of-type {
    color: var(--deep-saffron);
}