html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
    margin: 0;
}

:root {
    --blood-red: #6C0903;
    --space-cadet: #1c1f33;
    --xanthous: #f4b942;
    --rose-quartz: #ada8b6;
    --alice-blue: #effaff;
}

.roboto-normal {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.fugaz-one-regular {
    font-family: "Fugaz One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header,
footer {
    width: 100%;
    background-color: var(--blood-red);
    box-sizing: border-box;
}

footer {
    padding: 24px;
}

footer p {
    text-align: center;
    color: var(--alice-blue);
}

#lastModified {
    color: var(--xanthous);
}

span#course-title {
    display: block;
    text-align: center;
    padding: 24px;
    font-size: larger;
    color: var(--alice-blue);
    font-weight: 600;
}

.main-navigation {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--space-cadet);
    padding: 16px;
}

.main-navigation a {
    text-decoration: none;
    color: var(--alice-blue);
}

.main-navigation a:hover {
    color: var(--rose-quartz);
    transition: color 0.1s ease;
}

main {
    width: 1024px;
    margin: 16px auto;

}

main h1 {
    text-align: center;
}

.main-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 16px;
}

.flag img {
    width: 200px;
    height: 150px;
}

.my-picture {
    width: 150px;
    height: 200px;
}

.horizontal-card {
    display: flex;
    gap: 16px;
}

.card {
    border: 1px solid var(--space-cadet);
    border-radius: 8px;
    overflow: hidden;
}

.card-title {
    text-align: center;
    background-color: var(--blood-red);
    color: var(--alice-blue);
    padding: 16px;
}

.card-content {
    padding: 16px;
}

h3#hometown {
    text-align: center;
    border-bottom: 1px solid var(--space-cadet);
    margin: 16px;
}

.hometown-description {
    display: flex;
    gap: 16px;
}

.flag-title {
    font-style: italic;
}