@media screen and (min-width: 500px) {
    button.menu-btn {
        display: none;
    }

    header {
        align-items: center;
    }

    .navigation {
        flex-direction: row;
        width: auto;
    }

    .navigation a:hover {
        color: var(--xanthous);
        transition: color 0.1s ease;
    }

    main {
        grid-template-columns: 1fr, 1fr;
    }

    main h1 {
        grid-column: 1/3;
    }
}

@media screen and (min-width: 1024px) {
    main {
        grid-template-columns: 1fr, 1fr, 1fr;
    }

    main h1 {
        grid-column: 1/4;
    }
}