html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
    margin: 0;
}

:root {
    --blood-red: #6C0903;
    --space-cadet: #1c1f33;
    --xanthous: #f4b942;
    --rose-quartz: #ada8b6;
    --alice-blue: #effaff;
}

.roboto-normal {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.fugaz-one-regular {
    font-family: "Fugaz One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header,
footer {
    width: 100%;
    background-color: var(--blood-red);
    box-sizing: border-box;
}

footer {
    padding: 24px;
}

footer p {
    text-align: center;
    color: var(--alice-blue);
}

#lastModified {
    color: var(--xanthous);
}

header {
    display: grid;
    grid-template-columns: 1fr 48px;
    padding: 24px;
    align-items: center;
}

span.title {
    display: block;
    color: var(--alice-blue);
    font-size: 24px;
}

span.title.hidden,
.navigation.hidden {
    display: none;
}

nav.navigation {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: var(--blood-red);
    width: 100%;
}

nav.navigation a {
    text-align: center;
    text-decoration: none;
    color: var(--alice-blue);
}

.menu-btn {
    background-size: contain;
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    width: 48px;
    height: 48px;
}

.menu-btn.closed {
    background-image: url("../images/burger-menu.svg");
}

.menu-btn.opened {
    background-image: url("../images/close.svg");
    align-self: start;
}

main {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: row;
    gap: 8px;
    justify-items: center;
}

h1 {
    text-align: center;
    grid-row: 1;
}

figure {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    align-items: center;
    gap: 5px;
}