header {
    grid-template-rows: auto;
    grid-template-columns: 1fr 48px;
    padding: 24px;
    align-items: center;
}

span.title {
    display: block;
    color: var(--alice-blue);
    font-size: 24px;
}

span.title.hidden,
.navigation.hidden {
    display: none;
}

.navigation {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: var(--blood-red);
    width: 100%;
}

.navigation a {
    text-align: center;
    text-decoration: none;
    color: var(--alice-blue);
}

.menu-btn {
    background-size: contain;
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    width: 48px;
    height: 48px;
}

.menu-btn.closed {
    background-image: url("../images/burger-menu.svg");
}

.menu-btn.opened {
    background-image: url("../images/close.svg");
    align-self: start;
}

main {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: row;
    gap: 8px;
    justify-items: center;
}

h1 {
    text-align: center;
    grid-row: 1;
}

figure {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    align-items: center;
    gap: 5px;
}